{% extends "layout.html" %}
{% block title %}添加节点{% endblock %}
{% load djclub_filter %}
{% block body %}
	{% if request.session.user.id == 1 %}
		<div id=mainbar class=span9>
			{% if error %}
				<p class="alert alert-block alert-error">错误：{{ error }}</p>
			{% endif %}
			<section class=box>
				<form action="{% url nodeadd %}" method=post class=new_topic>
					{% csrf_token %}
					<legend>新建节点</legend>
					<div class=form-horizontal>
						<div class=control-group>
							<label class=control-label>节点名：</label>
							<div class=controls>
								{{ form.name }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>节点地址：</label>
							<div class=controls>
								{{ form.site }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>显示状态：</label>
							<div class=controls>
								{{ form.status }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>节点类别：</label>
							<div class=controls>
								{{ form.nodeclass }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>节点信息：</label>
							<div class=controls>
								{{ form.description }}
							</div>
						</div>
						<div class=form-actions>
							<input class="btn btn-primary" type=submit value=增加节点 name=commit>
						</div>
					</div>
				</form>
			</section>
		</div>
	{% endif %}
{% endblock %}
