{% extends "layout.html" %}
{% block title %}节点编辑{% endblock %}
{% load djclub_filter %}
{% block body %}
	{% if request.session.user_id %}
		<div id=mainbar class=span9>
			<section class=box>
				<form action="{% url nodedit node_name %}" method=post class=new_topic>
					{% csrf_token %}
					<legend>编辑节点</legend>
					<div class=form-horizontal>
						<div class=control-group>
							<label class=control-label>节点名：</label>
							<div class=controls>
								{{ form.name }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>节点地址：</label>
							<div class=controls>
								{{ form.site }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>显示状态：</label>
							<div class=controls>
								{{ form.status }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>节点类别：</label>
							<div class=controls>
								{{ form.nodeclass }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>节点信息：</label>
							<div class=controls>
								{{ form.description }}
							</div>
						</div>
						<div class=control-group>
							<label class=control-label>创建/修改时间：</label>
							<div class=controls>
								<label class=control-label>{{ node.date|format_datetime2 }}</label>
							</div>
						</div>
						<div class=form-actions>
							<input class="btn btn-primary" type=submit value=更新节点 name=commit>
						</div>
					</div>
				</form>
			</section>
		</div>
	{% endif %}
{% endblock %}
