{% extends "layout.html" %}
{% block title %}个人中心{% endblock %}
{% block sidebarin %}
{% load markup %}
{% load djclub_filter %}
<section class=box>
	<a href="{% url favorites %}">主题收藏</a>
	<a href="{% url times %}">时间账单</a>
</section>
{% endblock %}
{% block bread %}{% endblock %}
{% block body %}
	<div id="mainbar" class="span9">
		<section id="profile" class="box">
			<div class="profile-wrap">
				<div class="profile-inner">
					<div class=avatar>
						<img src="{{ user.email|gravatar }}" />
					</div>
					<div class=info>
						<h1>
							{{ user.name }}
						</h1>
						<p style="color: #ccc; font-size: 12px;">煙逝凡塵 第 {{ user.id }} 号会员，加入于 {{ user.date|format_datetime }}</p>
						{% if user.emailswitch == 1 %}
							<p style="color: #ccc; font-size: 12px;">Email: {{ user.email|at_to_sharp }}</p>
						{% endif %}
						{% if user.description %}
							<p>{{ user.description }}</p>
						{% endif %}
						{% if user.website %}
							<a rel="external nofollow" href="{{ user.website }}">{{ user.website }}</a>
						{% endif %}
						{% if user.city and user.city.name != '' %}
							<div class=tags>
								<a href="/city/{{ user.city.name }}/">{{ user.city.name }}</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</section>
		{% if page_obj.number %}
			{% include "_topiclist.html" %}
		{% endif %}
		{% if page_obj.paginator.num_pages != 1 %}
			{% include "_page.html" %}
		{% endif %}
	</div>
{% endblock %}
